// General
@import 'reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,300&display=swap');

body{
    font-size: 16px;
    cursor: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color:white;
}
.container{
    padding: 0 20px;
    opacity: 1;
    position: relative;
    top:0;
    left:0;
    z-index: 5;
    height: 100%;
    width: 100%;
}
.background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    @media (min-width: 768px) {
        background-image: linear-gradient(to left, #070916, #08082e, #072436, #07333c, #075851,#076766);
    }
    @media (max-width: 767px) {
        background-image: linear-gradient(to bottom, #070916, #08082e, #072436, #07333c, #075851,#076766);
    }
    //background-image: linear-gradient(to left, #40400c, #403b0c, #273c0c, #262c0c, #26260c);
}
.false-background{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #070916, #08082e, #072436, #07333c, #075851,#076766);
    //background-image: linear-gradient(to right, #11200c, #1b3d0c, #4e480c, #4f4f0c, #72580c);
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
}

.mouseMove{
    position: fixed;
  width: 25px;
  height: 25px;
  border-radius:100px;
  background: white;
  opacity: 0.5;
  color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: 10;
  pointer-events: none;
    @media (max-width: 767px) {
        opacity: 0;
        visibility: hidden;
    }
  }

#copy{
    color: white;
    z-index: 11;
    opacity: 0.8;
    padding-top: 40vh;
    h1{
        font-size:1rem;
    }
}

#menuSection{
    position: fixed;
    top:1vw;
    left: 1vw;
    z-index: 10;
    a{
        cursor: pointer;
        color:white;
        opacity: 0.4;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        &:hover{
            transition: opacity 0.3s linear;
            opacity: 0.8;
        }
    }

    @media (max-width: 767px) {
        a{
            font-size: 0.6rem;
        }
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
    }
}

#audioPlayer{
    z-index: 999;
    width: 20%;
    position: absolute;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    .sc-player__artist{
        display: none;
    }
    .sc-player__title{
        padding:10px;
    }
    .sc-player__play{
        border: 0;
    }
    &.showAudios{
        visibility: visible;
        opacity: .6;
    }
}

/*AUDIO SECTION*/ 
#audioSection{
    #audioItemContainer{
        transition: opacity .3s ease-in;
        padding-top: 10vh;
        @media (min-width: 768px) {
            padding-left:20vw;
            padding-right: 20vw;
        }
        .cover,.disc{
            opacity: 0;
            animation: fadeInAnimation ease-out .5s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards;
        }
        .cover{
            margin-bottom: 50px;
            animation-delay: .5s;
            @media (min-width: 768px) {                
             margin-right: 50%;
            }
        }
        .disc{
            display: flex;
            animation-delay: .3s;
            width: 100%;
            //height: 150px;
            margin-bottom: 20px;
            img{
                height: 150px;
                opacity: .8;
            }
            .discInfo{
                a{
                    color: darkgoldenrod;
                }
            }
        }
        .audioItem{
            margin: 0 0 10px;
            .sc-player__artist{
                display: none!important;
                opacity: 0!important;
            }
            .sc-player__title{
                padding:20px;
            }
            
        }
    }
    
}

#textosContainer{
    padding-top: 10vh;
    @media (min-width: 768px) {
        padding-left:20vw;
        padding-right: 20vw;
    }
    height: 100%;

    .textoItem{
        hr{
            margin-top: 150px;
            margin-bottom: 200px;
        }
        a{
            color:white;
            text-decoration: none;
        }
    }
}

#modalNav{
    visibility: hidden;
    &.active{
        visibility: visible;
    }
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div{
        width: 300px;
    }
}
button{
    cursor: pointer;
    margin: 2px;
}

#frontendcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
    @media (min-width: 768px) {
        padding-left:20vw;
        padding-right: 20vw;
    }
    .item{
        animation: fadeInAnimation ease-out .5s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        margin-bottom: 50px;
        h2{
            margin: 10px 0;
        }
        a{
            display: inline-block;
            color:white;
            text-decoration: none;
            padding-right: 10px;
        }
        img{
            width: 100%;
            max-width: 700px;
        }
    }
}

#visualContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p{
        margin-top: 10px;
    }
    p,small{
        opacity: 0;
        animation: fadeInAnimation ease-out .5s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
    }
    p{
        animation-delay: .3s;
    }
    small{
        animation-delay: .5s;
    }    
    .itemVisual{
        width: 30vw;
        @media (max-width: 767px) {
            width: 90vw;
        }
        margin: 10vh 10vw;
        animation: fadeInAnimation ease-out .5s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
       img{
            opacity: 0;
            transition: opacity .5s ease-out;
            &.show{
                opacity: 1;
            }
        }
        
    }
}

#visualCodeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .item{
       // width: 30vw;
        @media (max-width: 767px) {
          //  width: 90vw;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .text{
            margin: 20px 0 ;
            width: 50vw;
            a{
                color: white;
            }
        }
        margin: 10vh 10vw;
        animation: fadeInAnimation ease-out .5s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
       video{
           width: 100%;
            opacity: 1;
            transition: opacity 1.5s ease-out;
        }
        
    }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}